*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties
*.pem
*.key
*.p12
*.apk
*.aab
.env
google-services.json
SecurityReport.txt
.idea/deploymentTargetSelector.xml
.idea/misc.xml
